<ul>
  <li>
    <a href="https://www.youtube.com/embed/YMoa5JpjEtM?start=4080&end=4355">
      Five-minute "Lightning Talk" Overview</a>,
    from
    <a href="https://rubyconf.org/" rel="nofollow" target="_new">RubyConf</a>
    2017
  </li>

  {% comment %}
  <li>
    <a href="https://davearonson.wistia.com/medias/0yrd83elyb">
      Ten-minute "Lightning Ball" Version</a>
    (focusing on how testing helps),
    from the
    <a href="https://www.meetup.com/TechTalkDC/" rel="nofollow" target="_new">
      Tech Talk DC Meetup</a>
  </li>
  <li>
    <a href="https://bit.ly/jop-acrumen-talk">
      Half-hour "Meetup Talk" Version"</a>,
    from the
    <a href="https://www.meetup.com/Joy-of-Programming-DC/"
       rel="nofollow" target="_new">
      Joy of Programming (DC) Meetup</a>
  </li>
  <li>
    <a href="https://bit.ly/acrumen-arlington-ruby">
      Slightly extended (but much updated) 35-minute version</a>,
    from the
    <a href="https://www.meetup.com/Arlington-Ruby/"
       rel="nofollow" target="_new">
      Arlington Ruby Meetup</a>
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=6V1FO1xGitU">
      Five-minute "Lightning Talk" Overview</a>,
    from
    <a href="https://elixirconf.com/" rel="nofollow" target="_new">
      ElixirConf</a>
    2018
  </li>
  {% endcomment %} 

  <li>
    <a href="https://www.youtube.com/watch?v=V-pYlihc6hM">
      45-minute conference presentation version</a>,
    from
    <a href="http://www.lrtechfest.com/" rel="nofollow" target="_new">
      Little Rock Tech Fest</a> 2019
  </li>
</ul>
