<big><p>There are no CfPs closing in the next two weeks.</p></big>
<table>
  <tr>
    <th>Event Name</th>
    <th>Event<br>Website</th>
    <th>Location</th>
    <th>CFP Close<br>Date</th>
    <th>CFP Close<br>Estimated?</th>
    <th>Event<br>Date</th>
    <th>CFP<br>Link</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<br>
<br>
<br>
<br>
<br>

<p>
<small>
Just kidding of course!&nbsp;
(Note the date.)&nbsp;
Here's the real list:
</small>
</p>

<table>
  <tr>
    <th>Event Name</th>
    <th>Event<br>Website</th>
    <th>Location</th>
    <th>CFP Close<br>Date</th>
    <th>CFP Close<br>Estimated?</th>
    <th>Event<br>Date</th>
    <th>CFP<br>Link</th>
  </tr>
  <tr>
    <td>BaselOne</td>
    <td><a href="https://baselone.org/en/baselone-home/" target="_blank">link</a></td>
    <td>Basel, Switzerland</td>
    <td>04-01</td>
    <td></td>
    <td>10-15</td>
    <td><a href="https://baselone.org/en/baselone-2025-cfp/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>DevTalks BUCHAREST</td>
    <td><a href="https://www.devtalks.ro/" target="_blank">link</a></td>
    <td>Bucharest, Romania</td>
    <td>04-04</td>
    <td>⚑</td>
    <td>06-04</td>
    <td><a href="https://www.papercall.io/devtalksromania-2025" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Cloud Native Summit</td>
    <td><a href="https://cloudnativesummit.de/" target="_blank">link</a></td>
    <td>Munich/München, Germany</td>
    <td>04-06</td>
    <td></td>
    <td>07-21</td>
    <td><a href="https://sessionize.com/cloud-native-summit-munich-2025/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>HalfStack Newquay</td>
    <td><a href="https://halfstackconf.com/newquay/" target="_blank">link</a></td>
    <td>Newquay, UK</td>
    <td>04-06</td>
    <td>⚑</td>
    <td>06-27</td>
    <td><a href="https://halfstackconf.com/cfp/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Utah JS</td>
    <td><a href="https://utahjs.com/conference/" target="_blank">link</a></td>
    <td>Sandy, UT, USA</td>
    <td>04-07</td>
    <td></td>
    <td>09-12</td>
    <td><a href="https://sessionize.com/utahjs-conf-2025/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>EuRuKo</td>
    <td><a href="https://2025.euruko.org/" target="_blank">link</a></td>
    <td>Viana do Castelo, Portugal</td>
    <td>04-10</td>
    <td></td>
    <td>09-18</td>
    <td><a href="https://www.papercall.io/euruko-2025" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Rails World</td>
    <td><a href="https://railsworld.com/" target="_blank">link</a></td>
    <td>Amsterdam, Netherlands</td>
    <td>04-10</td>
    <td></td>
    <td>09-04</td>
    <td><a href="https://sessionize.com/rails-world-2025/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Dev2Next</td>
    <td><a href="https://www.dev2next.com/" target="_blank">link</a></td>
    <td>Denver, CO, USA</td>
    <td>04-11</td>
    <td></td>
    <td>09-29</td>
    <td><a href="https://www.dev2next.com/cfp" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Copenhagen Developers Festival</td>
    <td><a href="https://cphdevfest.com/" target="_blank">link</a></td>
    <td>Copenhagen, Denmark</td>
    <td>04-13</td>
    <td></td>
    <td>09-10</td>
    <td><a href="https://cphdevfest.com/call-for-papers" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>KanDDDinsky</td>
    <td><a href="https://kandddinsky.com/" target="_blank">link</a></td>
    <td>Berlin, Germany</td>
    <td>04-13</td>
    <td></td>
    <td>10-22</td>
    <td><a href="https://sessionize.com/kandddinsky-2025" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>DevFest.CZ</td>
    <td><a href="https://devfest.cz/" target="_blank">link</a></td>
    <td>Prague, Czech Republic (Czechia)</td>
    <td>04-14</td>
    <td></td>
    <td>10-24</td>
    <td><a href="https://sessionize.com/devfestcz2025" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Ship It Con</td>
    <td><a href="https://shipitcon.com/" target="_blank">link</a></td>
    <td>Dublin, Ireland</td>
    <td>04-15</td>
    <td></td>
    <td>08-29</td>
    <td><a href="https://shipitcon.com/call-for-papers/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Targeting Quality</td>
    <td><a href="https://www.targetingquality.ca/" target="_blank">link</a></td>
    <td>Cambridge, Ontario, Canada</td>
    <td>04-15</td>
    <td></td>
    <td>09-23</td>
    <td><a href="https://kwsqa.org/tq2025/call-for-presentations/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Working Software</td>
    <td><a href="https://agilemovement.it/workingsoftware/" target="_blank">link</a></td>
    <td>Reggio Emilia, Italy</td>
    <td>04-15</td>
    <td></td>
    <td>06-27</td>
    <td><a href="https://sessionize.com/working-software-2025" target="_blank">link</a></td>
  </tr>
</table>
