<table>
  <tbody>
    <tr>
      <th>Event Name</th>
      <th>Event<br>Website</th>
      <th>Location</th>
      <th>CFP Close<br>Date</th>
      <th>CFP Close<br>Estimated?</th>
      <th>Event<br>Date</th>
      <th>CFP<br>Link</th>
    </tr>
    <tr>
      <td>PyCon Lithuania</td>
      <td><a href="https://www.pycon.lt/" target="_blank">link</a></td>
      <td>Vilnius, Lithuania</td>
      <td>02-11</td>
      <td></td>
      <td>04-23</td>
      <td><a href="https://pycon.lt/call-for-proposals" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>Zagorje DevCon</td>
      <td><a href="https://zagorje-devcon.com/" target="_blank">link</a></td>
      <td>Krapina, Croatia</td>
      <td>02-11</td>
      <td>⚑</td>
      <td>04-11</td>
      <td><a href="https://forms.gle/gr6NxdayhY8XMs916" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>Soft Skills fwdays</td>
      <td><a href="https://fwdays.com/en/event/soft-skills-fwdays-2025" target="_blank">link</a></td>
      <td>Kyiv, Ukraine</td>
      <td>02-13</td>
      <td></td>
      <td>03-15</td>
      <td><a href="https://forms.gle/UygvKS4noH5Xn89k9" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>Wroclove.rb</td>
      <td><a href="https://wrocloverb.com/" target="_blank">link</a></td>
      <td>Wrocław, Poland</td>
      <td>02-13</td>
      <td></td>
      <td>04-11</td>
      <td><a href="https://forms.gle/ovGZU4hNUdPVq7mPA" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>American Mensa Annual Gathering</td>
      <td><a href="https://ag.us.mensa.org/" target="_blank">link</a></td>
      <td>Chicago, IL, USA</td>
      <td>02-14</td>
      <td>⚑</td>
      <td>07-02</td>
      <td><a href="https://ag.us.mensa.org/programming/submit-ag-program-proposal/" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>CodeGarden</td>
      <td><a href="https://codegarden.umbraco.com/" target="_blank">link</a></td>
      <td>Odense, Denmark</td>
      <td>02-14</td>
      <td></td>
      <td>06-18</td>
      <td><a href="https://codegarden.umbraco.com/call-for-speakers/" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>Node.TLV</td>
      <td><a href="https://www.nodetlv.com/" target="_blank">link</a></td>
      <td>Tel Aviv, Israel</td>
      <td>02-15</td>
      <td></td>
      <td>06-26</td>
      <td><a href="https://sessionize.com/nodetlv-2025" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>CodeMotion Madrid</td>
      <td><a href="https://conferences.codemotion.com/madrid2025/" target="_blank">link</a></td>
      <td>Madrid, Spain</td>
      <td>02-16</td>
      <td></td>
      <td>05-20</td>
      <td><a href="https://sessionize.com/codemotion-madrid-2025/" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>Weblica</td>
      <td><a href="https://weblica.hr/en/" target="_blank">link</a></td>
      <td>Cakovec, Croatia</td>
      <td>02-16</td>
      <td></td>
      <td>05-09</td>
      <td><a href="https://sessionize.com/weblica-2025" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>Elixir Is Weird</td>
      <td><a href="https://elixirisweird.com/" target="_blank">link</a></td>
      <td>Providence, RI, USA</td>
      <td>02-17</td>
      <td>⚑</td>
      <td>04-17</td>
      <td><a href="https://forms.gle/DbTF4rTmLBM2w7MS7" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>Tech F'Est</td>
      <td><a href="https://tech-fest.dev/" target="_blank">link</a></td>
      <td>Nancy, France</td>
      <td>02-17</td>
      <td></td>
      <td>06-13</td>
      <td><a href="https://conference-hall.io/tech-fest-2025" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>Code BEAM Lite Stockholm</td>
      <td><a href="https://codebeamstockholm.com/" target="_blank">link</a></td>
      <td>Stockholm, Sweden</td>
      <td>02-20</td>
      <td></td>
      <td>06-02</td>
      <td><a href="https://sessionize.com/code-beam-lite-stockholm-2025" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>KCDC (Kansas City Developer Conference)</td>
      <td><a href="https://www.kcdc.info/" target="_blank">link</a></td>
      <td>Kansas City, MO, USA</td>
      <td>02-21</td>
      <td></td>
      <td>08-14</td>
      <td><a href="https://sessionize.com/kcdc-2025" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>CPP North</td>
      <td><a href="https://cppnorth.ca/" target="_blank">link</a></td>
      <td>Toronto, Canada</td>
      <td>02-23</td>
      <td></td>
      <td>07-20</td>
      <td><a href="https://cppnorth.ca/cfp.html" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>Monki Gras</td>
      <td><a href="https://monkigras.com/" target="_blank">link</a></td>
      <td>London, UK</td>
      <td>02-23</td>
      <td></td>
      <td>03-27</td>
      <td><a href="https://monkigras.com/cfp/" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>Sunny Tech</td>
      <td><a href="https://sunny-tech.io/" target="_blank">link</a></td>
      <td>Montpellier, France</td>
      <td>02-23</td>
      <td></td>
      <td>06-26</td>
      <td><a href="https://conference-hall.io/sunny-tech-2025" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>InfoQ DevSummit USA</td>
      <td><a href="https://devsummit.infoq.com/conference/boston2025" target="_blank">link</a></td>
      <td>Boston, MA, USA</td>
      <td>02-24</td>
      <td>⚑</td>
      <td>06-09</td>
      <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSeagtEnnQhXve5TbubBrFgpxSMJa_wosPutqEdQOkNN9TAanQ/viewform" target="_blank">link</a></td>
    </tr>
    <tr>
      <td>Merge (NOT TO BE CONFUSED with Merge Berlin, unrelated)</td>
      <td><a href="https://merge.softwaregr.org/" target="_blank">link</a></td>
      <td>Grand Rapids, MI, USA</td>
      <td>02-24</td>
      <td></td>
      <td>04-28</td>
      <td><a href="https://www.papercall.io/merge25" target="_blank">link</a></td>
    </tr>
  </tbody>
</table>
