<table>
  <tr>
    <th>Event Name</th>
    <th>Event<br>Website</th>
    <th>Location</th>
    <th>CFP Close<br>Date</th>
    <th>CFP Close<br>Estimated?</th>
    <th>Event<br>Date</th>
    <th>CFP<br>Link</th>
  </tr>
  <tr>
    <td>Developers Conference Mauritius</td>
    <td><a href="https://conference.mscc.mu/" target="_blank">link</a></td>
    <td>Port Louis, Mauritius</td>
    <td>02-28</td>
    <td></td>
    <td>07-24</td>
    <td><a href="https://sessionize.com/mscc-developers-conference-2025/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Devoxx Poland</td>
    <td><a href="https://devoxx.pl/" target="_blank">link</a></td>
    <td>Krakow, Poland</td>
    <td>02-28</td>
    <td></td>
    <td>06-11</td>
    <td><a href="https://devoxx.pl/cfp" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>DevUp</td>
    <td><a href="https://www.devupconf.org/" target="_blank">link</a></td>
    <td>St. Charles, MO, USA</td>
    <td>02-28</td>
    <td></td>
    <td>08-07</td>
    <td><a href="https://sessionize.com/dev-up-2025/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Dublin Tech Summit</td>
    <td><a href="https://dublintechsummit.tech/" target="_blank">link</a></td>
    <td>Dublin, Ireland</td>
    <td>02-28</td>
    <td>⚑</td>
    <td>05-28</td>
    <td><a href="https://dublintechsummit.tech/apply-to-speak/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>INIT</td>
    <td><a href="https://initconf.org/" target="_blank">link</a></td>
    <td>Banja Luka, Bosnia and Herzegovina</td>
    <td>02-28</td>
    <td></td>
    <td>10-10</td>
    <td><a href="https://sessionize.com/init-2025" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>KCD New York</td>
    <td><a href="https://www.kcdnewyork.com/" target="_blank">link</a></td>
    <td>New York, NY, USA</td>
    <td>02-28</td>
    <td></td>
    <td>06-04</td>
    <td><a href="https://sessionize.com/kcd-new-york-2025/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>RailsConf</td>
    <td><a href="https://railsconf.org/" target="_blank">link</a></td>
    <td>Philadelphia, PA, USA</td>
    <td>02-28</td>
    <td></td>
    <td>07-08</td>
    <td><a href="https://sessionize.com/railsconf-2025" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Voxxed Days Ioannina</td>
    <td><a href="https://ioannina.voxxeddays.com/" target="_blank">link</a></td>
    <td>Ioannina, Greece</td>
    <td>02-28</td>
    <td></td>
    <td>05-30</td>
    <td><a href="https://vdloa25.cfp.dev/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Beer City Code</td>
    <td><a href="https://www.beercitycode.com/" target="_blank">link</a></td>
    <td>Grand Rapids, MI, USA</td>
    <td>03-01</td>
    <td></td>
    <td>08-09</td>
    <td><a href="http://cfp.beercitycode.com/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>DevBCN (Dev Barcelona)</td>
    <td><a href="https://www.devbcn.com/" target="_blank">link</a></td>
    <td>Barcelona, Spain</td>
    <td>03-01</td>
    <td></td>
    <td>07-09</td>
    <td><a href="https://sessionize.com/devbcn-2025/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>AmsterdamJS/JSNation</td>
    <td><a href="https://jsnation.com/" target="_blank">link</a></td>
    <td>Amsterdam, Netherlands</td>
    <td>03-02</td>
    <td></td>
    <td>06-12</td>
    <td><a href="https://forms.gle/jbkVrNrdxQa5ABp56" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>DevConf.cz</td>
    <td><a href="https://www.devconf.info/cz/" target="_blank">link</a></td>
    <td>Brno, Czech Republic (Czechia)</td>
    <td>03-02</td>
    <td></td>
    <td>06-12</td>
    <td><a href="https://pretalx.devconf.info/devconf-cz-2025/cfp" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>HUSTEF (HUngarian Software TEsting Forum)</td>
    <td><a href="https://hustef.hu/" target="_blank">link</a></td>
    <td>Budapest, Hungary</td>
    <td>03-02</td>
    <td></td>
    <td>10-14</td>
    <td><a href="https://hustef.hu/call-for-proposals-2025/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Riviera Dev</td>
    <td><a href="https://rivieradev.fr/" target="_blank">link</a></td>
    <td>Valbonne, France</td>
    <td>03-02</td>
    <td></td>
    <td>07-08</td>
    <td><a href="https://conference-hall.io/riviera-dev-2025" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Scenic City Summit</td>
    <td><a href="https://www.sceniccitysummit.com/" target="_blank">link</a></td>
    <td>Chattanooga, TN, USA</td>
    <td>03-04</td>
    <td></td>
    <td>06-20</td>
    <td><a href="https://sessionize.com/scenic-city-summit-2025" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>Turing Fest</td>
    <td><a href="https://turingfest.com/turingfest-2025/" target="_blank">link</a></td>
    <td>Edinburgh, UK</td>
    <td>03-07</td>
    <td>⚑</td>
    <td>05-07</td>
    <td><a href="https://turingfest.com/call-for-speakers/" target="_blank">link</a></td>
  </tr>
  <tr>
    <td>BreizhCamp</td>
    <td><a href="https://www.breizhcamp.org/" target="_blank">link</a></td>
    <td>Rennes, France</td>
    <td>03-10</td>
    <td></td>
    <td>06-25</td>
    <td><a href="https://sessionize.com/breizhcamp-2025" target="_blank">link</a></td>
  </tr>
</table>
