<header>
  {%- include navbar.html -%}
  <div class="header-dave">
    <img src="/assets/img/Dave-Face-Bright-2010-ADJUSTED-ON-LI-150x200.jpeg"
         class="dave-pic">
    <br/>
    <small>Dave Aronson</small>
  </div>
  <div class="header-dino">
    <p><!-- just to waste some space --></p>
    <img src="/assets/img/dinosaur_and_computer-COLOR-LEFT-199x149.png"
         class="dino-pic">
    <br/>
    <small>The Codosaurus,<br/>
    by
    <a rel="nofollow" target="_new"
       href="https://www.etsy.com/shop/fanie">Fanie&nbsp;Grégoire</a>
    </small>
  </div>
  <div class="header-center">
    <h3><a href="/">Codosaurus, LLC</a></h3>
    Software Development Consulting<br/>
    <small>Home of <a href="/ACRUMEN">the ACRUMEN Quality Framework</a></small><br/>
    <i>How can we evolve you today?</i>
    {%- if page.title -%}
    <h1 class="page-title">
      <span class="page-title-content">{{ page.title }}</span>
    </h1>
    {%- endif -%}
    <h2 class="alt-page-title"></h2>
  </div>
</header>
<hr style="clear: both"/>
