<!--
I have no definite speaking engagements in the _future_.
-->

These are my _definite_ speaking engagements in the future.&nbsp;
There is also a
[Likely Speaking Engagements](/speaking/likely)
page, for ones that are not yet definite.

|When||Conference||Where||Topic(s) |
|-|
|May&nbsp;2026||[Software Quality Days](https://software-quality-days.com/){:rel="nofollow" target="_new"}||Vienna, Austria||Property-Based Tests|
{:class="upcoming-engagements speaking"}

Also, I will probably not be doing much speaking in 2026,
at least until about October.&nbsp;
Until sometime around July,
I will be very busy prepping for
the move to Portugal.&nbsp;
After that,
I can only leave Portugal and come back in _once_,
until I receive my residency card,
which could take a couple/few months.&nbsp;
So, I can't commit to anything in
July, August, probably September, and maybe even October.
