<!--
I have no definite speaking engagements in the _future_.
-->

These are my _definite_ speaking engagements in the future.&nbsp;
There is also a
[Likely Speaking Engagements](/speaking/likely)
page, for ones that are not yet definite.

|When||Conference||Where||Topic(s) |
|-|
|Oct&nbsp;2026||[Devoxx Belgium](https://devoxx.be/){:rel="nofollow" target="_new"}||Antwerp, Belgium||Mutants|
|<s>Jan&nbsp;2027</s>||[<s>NDC London</s>](https://ndclondon.com/){:rel="nofollow" target="_new"}||<s>London, UK</s>||<s>Property-Based Testing*</s>|
{:class="upcoming-engagements speaking"}

<center><small>*Talk canceled due to Portuguese visa rules and slowness</small></center>

Now that I live in Portugal,
on a temporary visa,
I can only leave Portugal (and come back in) once,
until I receive my residency card.&nbsp;
The "once" has been reserved for Devoxx Belgium,
and it currently looks like
I won't get the card until
at least April.&nbsp; :-(
