<!--
I have no definite speaking engagements in the _future_.
-->

These are my _definite_ speaking engagements in the future.&nbsp;
There is also a
[Likely Speaking Engagements](/speaking/likely)
page, for ones that are not yet definite.

|When||Conference||Where||Topic(s) |
|-|
|Oct&nbsp;2026||[Devoxx Belgium](https://devoxx.be/){:rel="nofollow" target="_new"}||Antwerp, Belgium||Mutants|
|Jan&nbsp;2027||[NDC London](https://ndclondon.com/){:rel="nofollow" target="_new"}||London, UK||Property-Based Testing|
{:class="upcoming-engagements speaking"}

I will probably not be doing much speaking in 2026.&nbsp;
Now that I live in Portugal,
on a temporary visa,
the outside-Portugal travel rules are very complicated
and based on the timings of things
which are up to the whims of
their notoriously unpredictable bureaucracy.
