main table {
  font-size:   var(--h5-size);
  line-height: var(--h3-size);
  margin:      0 auto;
}
main table th { font-size: var(--h4-size); }
main table td:first-child:first-letter {
  font-size: var(--h4-size);
  font-weight: bold;
}
main table strong { font-size: var(--h4-size); }

.page-title { color: var(--acrumen-color); }

.acrumen-table-marker+table td:first-child:first-letter { color: var(--acrumen-color); }

.acrumen-to-career-table-marker+table th:first-child { color: var(--acrumen-color); }

.acrumen-to-career-table-marker+table td:first-child:first-letter { color: var(--acrumen-color); }

.career-to-acrumen-table-marker+table th:last-child { color: var(--acrumen-color); }
.career-to-acrumen-table-marker+table td strong { color: var(--acrumen-color); }

.truce-list-marker + ul li:first-letter {
  font-size: var(--h5-size);
  font-weight: bold;
}
