form#contact table {
  margin: auto;
  vertical-align: top;
  width: clamp(20em, 80%, 100em);
}

form#contact table td { vertical-align: top; }

form#contact table td:first-child { width: 25%; }

form#contact table td:last-child input,textarea {
  background: var(--fg-color);
  color:      var(--bg-color);
  margin-top: 0.5em;
  width:      100%;
}

form#contact table td:last-child input[type="submit"] {
  height:      2em;
  font-weight: bold;
  width:       50%;
}
