form#contact table {
  margin: auto;
  width: clamp(20em, 75%, 80em);
}

form#contact table td:first-child { width: 9em; }

input, textarea {
  background: var(--fg-color);
  color:      var(--bg-color);
  margin-top: .5em;
  width:      100%;
}

input[type="checkbox"] { width: auto; }

input[type="submit"] {
  height:      3em;
  font-weight: bold;
  width:       max(50%, 5em);
}
