:root {
  --h1-size:       calc(var(--h2-size)    * var(--size-ratio));
  --h2-size:       calc(var(--h3-size)    * var(--size-ratio));
  --h3-size:       calc(var(--h4-size)    * var(--size-ratio));
  --h4-size:       calc(var(--h5-size)    * var(--size-ratio));
  --h5-size:       calc(var(--big-size)   * var(--size-ratio));
  --big-size:      calc(var(--text-size)  * var(--size-ratio));
  --small-size:    calc(var(--text-size)  / var(--size-ratio));
  --tiny-size:     calc(var(--small-size) / var(--size-ratio));
  --size-ratio:    1.125;
  --text-size:     clamp(12pt, 2vw, 18pt);
  --link-color:    #dde;  /* not *quite* stark white, plus hint of blue */
  --bg-color:      #112;  /* not *quite* stark black, plus hint of blue */
  --fg-color:      #ded;  /* not *quite* stark white, plus hint of green */
  --acrumen-color: #ee0;  /* not *quite* stark yellow */
}

body {
  background:   var(--bg-color);
  color:        var(--fg-color);
  /* standard-width fonts, NOT VERDANA! */
  font-family:  Trebuchet MS, Tahoma, Helvetica, Arial, Sans-Serif;
  font-size:    var(--text-size);
  line-height:  1.5em;
  margin:       1px clamp(1px, 5%, 100px);
}

a, a:visited { color: var(--link-color) }
a:hover      {
  background: var(--link-color);
  color:      var(--bg-color);
}

blockquote { font-style: italic; }

footer {
  font-size:  var(--tiny-size);
  line-height: 1.5em;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  /* standard-width fonts, NOT GEORGIA! */
  font-family: Palatino, Garamond, Times New Roman, Serif;
  font-weight: bold;
  line-height: 1.5em;
  margin:      0;
  text-align:  center;
}

h1 { font-size: var(--h1-size); }
h2 { font-size: var(--h2-size); }
h3 { font-size: var(--h3-size); }
h4 { font-size: var(--h4-size); }
h5 { font-size: var(--h5-size); }

li { margin-right: min(2%, 2em); }

th,td { text-align: left; }

ul { padding-left: calc(1em + min(1%, 1em)); }

.acrumen { color: var(--acrumen-color); }

.big { font-size: var(--big-size); }

.center { text-align: center }

.flipH { transform: scaleX(-1); }

.header-dino { font-size: calc(var(--h1-size) * 2); }

div.header-sublines {
  font-style: italic;
  font-size: var(--tiny-size);
  margin-top: -0.5em;
  text-align: center;
}

.small { font-size: var(--small-size) }

.tiny { font-size: var(--tiny-size) }

.todo { color: red !IMPORTANT }
