:root {
  --h1-size:       calc(var(--h2-size)   * var(--header-ratio));
  --h2-size:       calc(var(--h3-size)   * var(--header-ratio));
  --h3-size:       calc(var(--h4-size)   * var(--header-ratio));
  --h4-size:       calc(var(--h5-size)   * var(--header-ratio));
  --h5-size:       calc(var(--text-size) * var(--header-ratio));
  --small-size:    calc(var(--text-size) / var(--header-ratio));
  --header-ratio:  1.2;
  --text-size:     16pt;
  --link-color:    #dde;  /* not *quite* stark white, plus hint of blue */
  --bg-color:      #112;  /* not *quite* stark black, plus hint of blue */
  --fg-color:      #ded;  /* not *quite* stark white, plus hint of green */
  --acrumen-color: #ee0;  /* not *quite* stark yellow */
}

body {
  background:   var(--bg-color);
  color:        var(--fg-color);
  /* standard-width fonts, NOT VERDANA! */
  font-family:  Trebuchet MS, Tahoma, Helvetica, Arial, Sans-Serif;
  font-size:    var(--text-size);
  line-height:  1.5em;
  margin:       1px 3%;
}

a, a:visited { color: var(--link-color) }
a:hover      {
  background: var(--link-color);
  color:      var(--bg-color);
}

blockquote {
  font-style: italic;
  margin-right: 3em;
}

footer {
  font-size:  var(--small-size);
  text-align: center;
}

h1, h2, h3, h4, h5 {
  /* standard-width fonts, NOT GEORGIA! */
  font-family: Palatino, Garamond, Times New Roman, Serif;
  font-weight: bold;
  line-height: 1.5em;
  margin:      0;
  padding-top: 0.2em;
  text-align:  center;
}

h1 { font-size: var(--h1-size); }
h2 { font-size: var(--h2-size); }
h3 { font-size: var(--h3-size); }
h4 { font-size: var(--h4-size); }
h5 { font-size: var(--h5-size); }

li { margin-right: 4em }

.acrumen { color: var(--acrumen-color); }

.big { font-size: 1.2em; }

.center { text-align: center }

.flipH { transform: scaleX(-1); }

.header-dino { font-size: 8em; }

div.header-sublines {
  font-style: italic;
  margin-top: -0.6em;
  text-align: center;
}

.todo { color: red !IMPORTANT }
