code {
  --small: calc(1em / var(--header-ratio));
  font-size: var(--small);
  line-height: 1em;  /* why won't it honor anything smaller?! */
}

.alt-page-title { display: block; }
.alt-page-title:after { content: "Blog"; }
.last-update {
  float: left;
  margin-right: 1em;
}
.page-title { display: none; }
.post-meta {
  font-size: small;
  line-height: 1em;
}
.rss-link {
  float: right;
  margin-left: 1em;
}
.tag-list {
  margin: auto;
}
