table.roadmap-size-table {
  border: 1px solid black;
  border-spacing: 0;
}

table.roadmap-size-table th,td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.2em 0.4em;
  margin: 0;
}
table.roadmap-size-table th { text-align: left }
table.roadmap-size-table th.numeric { text-align: right }
