body {
  --header-ratio:        1.2;
  --h5-size:             calc(1em            * var(--header-ratio));
  --h4-size:             calc(var(--h5-size) * var(--header-ratio));
  --h3-size:             calc(var(--h4-size) * var(--header-ratio));
  --h2-size:             calc(var(--h3-size) * var(--header-ratio));
  --h1-size:             calc(var(--h2-size) * var(--header-ratio));
  --main-bg-color:       #002;
  --main-fg-color:       #efe;
  --link-color:          #0ff;
  --link-hover-bg-color: #0c0;
  --inverted-link-color: #009;
  --max-width:           42em;  /* the answer! */
  --text-color:          var(--main-fg-color);
  background:            var(--main-bg-color);
  color:                 var(--text-color);
  /* standard-width fonts, NOT VERDANA! */
  font-family:           Trebuchet MS, Tahoma, Helvetica, Arial, Sans-Serif;
  font-size:             14pt;
  line-height:           1.5em;
  margin:                0 auto;
  max-width:             var(--max-width);
  padding:               1px;
}

a, a:visited { color: var(--link-color) }
a:hover      { background: var(--link-hover-bg-color) }

footer {
  font-size:   0.6em;
  line-height: 1.5em;
  text-align:  center;
}

h1, h2, h3, h4, h5 {
  /* standard-width fonts, NOT GEORGIA! */
  font-family: Palatino, Garamond, Times New Roman, Serif;
  font-weight: bold;
  line-height: 1.5em;
  margin:      0;
  padding-top: 0.2em;
  text-align:  center;
}

h1 { font-size: var(--h1-size); }
h2 { font-size: var(--h2-size); }
h3 { font-size: var(--h3-size); }
h4 { font-size: var(--h4-size); }
h5 { font-size: var(--h5-size); }

header {
  font-weight: bold;
  line-height: 1.2em;
  overflow:    auto;
  text-align:  center;
}

header img { border-radius: 1em; }

header .dave-pic      { max-width: 36vw; }
header .dino-pic      { max-width: 48vw; }
header .header-dave   { float: left; }
header .header-center { float: none; }
header .header-dino   {
  float:  right;
  height: 228px;  /* same as other, to keep header aligned */
}

li { margin: 0.5em 0 }

nav {
  font-weight: normal;
  font-size: 0.75em;
  margin-bottom: 0.5em;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.2em;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  --num-nav-links: 6;
  background: var(--main-fg-color);
  border-radius: 0.5em;
  margin: 1px;
  text-align: center;
  width: calc(100% / var(--num-nav-links) - 2px);
}

nav li:hover { background: var(--link-hover-bg-color); }

nav a {
  border-radius: 0.5em;
  color: var(--inverted-link-color);
  display: block;
  font-weight: bold;
  padding: 0.25em 0;
}
nav a:visited { color: var(--inverted-link-color); }
nav a:hover { text-transform: uppercase; }

ol, ul {
  margin: 0.5em 0 1em 0;
  padding-left: 1em;  /* don't indent the marker itself */
}

p { margin: 0.5em 0 1em 0 }

table { margin: 1em auto }
table td,th {
  margin:  0 0.5em;
  text-align: left;
}

.alt-page-title { display: none; }

.big { font-size: var(--h5-size); }

.bold { font-weight: bold; }

.card {
  background: var(--main-fg-color);
  border: 1px solid var(--main-fg-color);
  border-radius: 0.5em;
  color: var(--main-bg-color);
  display: table;  /* wtf, this is how to make it honor side-margins auto?! */
  line-height: 1.5em;
  margin: 1em auto;
  padding: 0.5em 1.5em;
}

.card a { color: #009 }

.center { text-align: center; }

.numeric { text-align: right; }

.small { font-size: calc(1em / var(--header-ratio)); }

.squished { line-height: 1em; }
