*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #ee0;  /* slightly toned-down yellow */
  --fg-color: #000;
}

a, a:visited { color: #009; }  /* may need to change if fg/bg colors swapped */
a:hover {
  background: var(--fg-color);
  color: var(--bg-color);
}

body {
  background: var(--bg-color);
  color: var(--fg-color);
}

div.back-to-table {
  font-size: small;
  text-align: center;
}

input[type=text] {
  vertical-align: text-bottom;
  width: 3em;
}

main {
  font-size: 1.2em;
  line-height: 1.5em;
}

table#bad_reasons {
  table-layout: fixed;
  width: 100%;
}

table#bad_reasons td {
  border: 2px solid red;
  text-align: center;
  width: 33%;
}

table#bad_reasons a {
  display: inline-block;
  height: 100%;
  padding: 0.2em;
  width: 100%;
}
