:root {
  --bg-color: #ff0;
  --fg-color: #000;
}

a, a:visited { color: #009; }  /* may need to change if fg/bg colors swapped */
a:hover {
  background: var(--fg-color);
  color: var(--bg-color);
}

body {
  background: var(--bg-color);
  color: var(--fg-color);
}

input[type=text] {
  vertical-align: text-bottom;
  width: 3em;
}

main {
  font-size: 1.2em;
  line-height: 1.5em;
}
