:root {
  --bg-color:   #002;
  --fg-color:   #cfc;
  --link-color: #ccf;
}

p + ul { margin-top: -1em; }  /* remove space between -- not exact */

/* undo how sup screws up line height */
sup { font-size: 0.7em; position: relative; top: -.4em; vertical-align: top; }
