---
layout: blog_home
title: Blog
style: blog-index
---
Sorry, the blog has not yet been moved.&nbsp;
For now, please see
<a href="https://blog.codosaur.us" target="_new">
  https://blog.codosaur.us</a>.&nbsp;
Stay tuned for it to move here!

<h3 class="post-list-heading">Posts</h3>
<table class="post-list">
  <thead>
    <tr>
      <th>Title</th>
      {%- if site.show_excerpts -%}<th>Excerpt</th>{%- endif -%}
      <th>Tags</th>
      <th>Original Date</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody>
    {%- for post in site.posts -%}
    <tr>
      <td class="big-n-bold">
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}</a>
      </td>
      {%- if site.show_excerpts -%}<td>{{ post.excerpt }}</td>{%- endif -%}
      <td class="tag-column">
        <small>
          {% for tag in post.tags %}
            <a href="/blog/tags/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </small>
      </td>
      <td class="post-meta">
        {{ post.original-date | default: post.date | date: site.date_format }}
      </td>
      <td class="post-meta">{{ post.date | date: site.date_format }}</td>
    </tr>
    {%- endfor -%}
  </tbody>
</table>

<h3>Tag Cloud</h3>
<p>
{% for tag in site.tags %}
  <a href="/blog/tags/{{ tag[0] }}" 
     style="font-size: {{ tag[1] | size | times: 4 | plus: 10 }}px">
    {{ tag[0] }}</a>
  {% endfor %}
</p>

<p><center><a href="/feed.xml">RSS</a></center></p>
